#container{
    margin: 0px;
    padding: 0px;
}
.banner{
    width: 100%;
    height: 15%;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.profile-bin{
    display: flex;
}
ul{
    display: inline-flex;
    list-style: none;
}
li{
    margin: 10px;
}
.bold-pro{
    font-weight: bold;
}
button{
    background-color: lightblue;
    height: 50%;
}
.user-profile{
    border: black solid;
    width: 400px;
    height: 400px;
    margin: 20px;
    padding-bottom: 10px;
}
.profile-banner{
    background-color: lightblue;
    width: 100%;
    height: 20%;
}
.user_img{
    position: absolute;
    top: 120px;
    padding: 10px;
}
.userinfo{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    padding: 10px;
}
p{
    inline-size: 250px;
}
.user-profile h4{
    color: blue;
    text-decoration: underline;
}
.rowOne{
    display: flex;
}
.connections{
    margin-top: 22px;
    border: black solid;
    width: 300px;
    height: 300px;
}
.con-banner{
    width: 100%;
    height: 50px;
    background-color: grey;
    display: flex;
    justify-content: space-evenly;
}
.banner-info{
    display: flex;
    flex-direction: row;
    position: relative;
    top: 10px;
}
.con-banner button{
    border-radius: 50%;
}
.banner-info h3{
    margin: 0px;
    padding-left: 10px;
}
.req-info{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.rowTwo{
    display: flex;
}
.edu-content{
    width: 400px;
    height: 300px;
    margin-left: 20px;
    border: solid black;
}
.edu-content h2, h3{
    margin-left: 20px;
    width: 100%;
    height: 55px;
}

.new-request{
    border: solid black ;
    position: relative;
    right: 10px;
    height: 700px;
    width: 300px;
    margin-left: 25px;    
}
.req-ban{
    display: flex;
    padding-top: 10px;
    justify-content: space-around;
    height: 50px;
    width: inherit;
    background-color: grey;
}
.req-ban h2{
    margin: 0px;
    padding-left: 10px;
}
.req-ban button{
    border-radius: 50%;
    margin-top: 5px;
}
.curr-cons{
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
}
.show-more{
    width: inherit;
    height: 50px;
    text-decoration: underline;
    color: blue;
}



